[submodule "backend/php/projects/laravel-6-questionnaire"]
	path = backend/php/projects/laravel-6-questionnaire
	url = git@github.com:coderstape/laravel-6-questionnaire.git
[submodule "backend/php/projects/library-management-system"]
	path = backend/php/projects/library-management-system
	url = git@github.com:tauseedzaman/Laravel-library-management-system.git
[submodule "computer-science/learn-cpp/examples"]
	path = computer-science/learn-cpp/examples
	url = git@github.com:tridibsamanta/CPP_Beginner_to_Expert.git
[submodule "computer-science/learn-cpp/cpp-programming"]
	path = computer-science/learn-cpp/cpp-programming
	url = git@github.com:Rustam-Z/cpp-programming.git
[submodule "frontend/JavaScript/interview-questions"]
	path = frontend/JavaScript/interview-questions
	url = git@cihat-salik.github.com:BomBoch/javascript-interview-questions.git
[submodule "become-ios-dev"]
	path = become-ios-dev
	url = git@github.com:cihat/become-ios-dev.git
[submodule "go/source-code"]
	path = go/source-code
	url = git@github.com:golang/go.git
[submodule "go/projects/go-daemon4"]
	path = go/projects/go-daemon4
	url = git@github.com:cihat/go-daemon.git
