[submodule "backend/php/projects/laravel-6-questionnaire"]
	path = backend/php/projects/laravel-6-questionnaire
	url = git@github.com:coderstape/laravel-6-questionnaire.git
[submodule "backend/php/projects/library-management-system"]
	path = backend/php/projects/library-management-system
	url = git@github.com:tauseedzaman/Laravel-library-management-system.git
